---
import MainLayout from "@/layouts/MainLayout.astro";
import Footer from "@/components/Footer.astro";
import { Image } from "astro:assets";
import ManoelLopesAvatar from "@/images/manoel_lopes.jpg";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import {
  BiLogoTailwindCss,
  BiLogoTypescript,
  BiLogoReact,
  BiLogoNodejs,
  BiLogoPostgresql,
  BiLogoHtml5,
  BiLogoCss3,
  BiLogoBootstrap,
} from "react-icons/bi";

import { TbBrandVite, TbBrandNextjs, TbBrandPrisma } from "react-icons/tb";

import { type IconType } from "react-icons";

// Define a type for the icons object
type Icons = {
  [key: string]: IconType;
};

const icons: Icons = {
  BiLogoReact,
  BiLogoTailwindCss,
  BiLogoTypescript,
  BiLogoNodejs,
  BiLogoPostgresql,
  BiLogoHtml5,
  BiLogoCss3,
  BiLogoBootstrap,
  TbBrandVite,
  TbBrandNextjs,
  TbBrandPrisma,
  // Add more icons as needed
};

import projects from "../projects_data/Projects";
import futureProject from "@/projects_data/FutureProject";
---

<MainLayout title="Manoel Lopes | Developer - QA">
  <!-- About Section will me converted to an component latter on -->
  <section class="flex flex-row mt-10 justify-between items-center">
    <div>
      <h1 class="font-ocra text-2xl text-green-700">
        <span class="text-zinc-50">{"<"}</span>About Manoel<span
          class="text-zinc-50">{" />"}</span
        >
      </h1>

      <p
        class="font-courier max-w-[700px] ml-14 text-justify leading-7 mt-10 indent-10 tracking-wide text-zinc-300"
      >
        I'm a Full Stack Software Engineer, with proficiency in backend
        technologies like Node.js and Python, as well as frontend tools like
        React.js, Astro, and Next.js. I excel in CSS3 styling and utilize modern
        frameworks like Tailwind CSS. My database expertise includes PostgreSQL,
        MongoDB, and MariaDB, with proficiency in ORMs like Prisma and
        SQLAlchemy. I've worked with frameworks like FastAPI and Express. My
        Agile Methodologies background complements my strong QA skills, covering
        manual and automated testing with Selenium, Cypress, and Playwright. On
        a personal note, I'm an Inline Hockey enthusiast 🏒 and a devoted fan of
        Harry Potter ⚡ and Lord of the Rings 🌄.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center rounded-full h-80 w-80 shadow-xl shadow-cyan-500/50"
    >
      <Image
        src={ManoelLopesAvatar}
        alt="Manoel Lopes, Preparing his hockey stick for a game!"
        class={"rounded-full h-80 w-80 ring-4 ring-cyan-500 object-cover"}
      />
    </div>
  </section>

  <!-- Projects Section will me converted to an component latter on -->

  <section class="mt-10">
    <h1 class="font-ocra text-2xl text-yellow-400">
      <span class="text-zinc-50">{"<"}</span>Projects<span class="text-zinc-50"
        >{" />"}</span
      >
    </h1>

    <!-- Project components goes here. -->
    <div class="grid grid-cols-3 gap-3 mt-10">
      <!-- Each Card -->
      {
        projects.map((project) => {
          return (
            <Card className="border-2 border-cyan-400 px-4 py-2 flex flex-col items-center rounded-md">
              <CardHeader className="text-2xl font-ocra uppercase text-purple-600">
                <CardTitle>{project.name}</CardTitle>
              </CardHeader>

              <CardDescription className="text-justify font-courier indent-4 text-md ">
                {project.description}
              </CardDescription>
              <CardContent className="flex flex-col items-center mt-2">
                <h2 class="text-sm font-ocra uppercase text-orange-500">
                  Tech Stack
                </h2>
                <div class="flex flex-row mt-4 gap-4">
                  {project.stack.map((tech) => {
                    const IconComponent = icons[tech.icon];
                    return (
                      <a title={tech.name} data-tooltip-placement="bottom">
                        <IconComponent
                          size="48px"
                          className="text-zinc-500 hover:text-zinc-300 transition-colors duration-300"
                        />
                      </a>
                    );
                  })}
                </div>
              </CardContent>
              <CardFooter className="flex flex-row gap-4 overflow-hidden whitespace-nowrap mt-5">
                {project.urls.map((url) => {
                  return (
                    <a
                      href={url.url}
                      target="_blank"
                      class="text-zinc-50 uppercase rounded-md border-2 text-sm border-green-700 p-2 w-full justify-center items-center hover:bg-green-700 transition-colors duration-300 font-ocra flex gap-2"
                    >
                      {url.type}
                    </a>
                  );
                })}
              </CardFooter>
            </Card>
          );
        })
      }
    </div>
  </section>

  <!-- Working on progress section -->
  <section class="mt-10">
    <h1 class="font-ocra text-2xl text-blue-500">
      <span class="text-zinc-50">{"<"}</span>Working On<span
        class="text-zinc-50">{" />"}</span
      >
    </h1>

    <div class="flex mx-auto max-w-[600px] mt-10">
      {
        futureProject.map((project) => {
          return (
            <Card className="border-2 border-cyan-400 px-4 py-2 flex flex-col items-center rounded-md">
              <CardHeader className="text-2xl font-ocra uppercase text-purple-600">
                <CardTitle>{project.name}</CardTitle>
              </CardHeader>

              <CardDescription className="text-justify font-courier indent-4 text-md ">
                {project.description}
              </CardDescription>
              <CardContent className="flex flex-col items-center mt-2">
                <h2 class="text-sm font-ocra uppercase text-orange-500">
                  Tech Stack
                </h2>
                <div class="flex flex-row mt-4 gap-4">
                  {project.stack.map((tech) => {
                    const IconComponent = icons[tech.icon];
                    return (
                      <a title={tech.name} data-tooltip-placement="bottom">
                        <IconComponent
                          size="48px"
                          className="text-zinc-500 hover:text-zinc-300 transition-colors duration-300"
                        />
                      </a>
                    );
                  })}
                </div>
              </CardContent>
              <CardFooter className="flex flex-row gap-4 overflow-hidden whitespace-nowrap mt-5">
                {project.urls.map((url) => {
                  return (
                    <a
                      href={url.url}
                      target="_blank"
                      class="text-zinc-50 uppercase rounded-md border-2 text-sm border-green-700 p-2 w-full justify-center items-center hover:bg-green-700 transition-colors duration-300 font-ocra flex gap-2"
                    >
                      {url.type}
                    </a>
                  );
                })}
              </CardFooter>
            </Card>
          );
        })
      }
    </div>
  </section>

  <!-- Footer goes here -->
  <div class="mx-auto flex mt-10 items-center justify-center">
    <h1 class="font-ocra text-4xl text-red-800">Game Over</h1>
  </div>
  <Footer />
</MainLayout>
